#background-main-image-striped {
  background-image: url('../images/BGRepeatable.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

@font-face {
  font-family: drawing_guides;
  src: url('drawing_guides.tff');
}

p.custom_font{
  font-family: drawing_guides; /* no .ttf */
}

a {
  display: inline;
  height: 300px;
}
#bb {
  width: 100%;
  /* height: 494px; */
  margin-top: 3%;
  -webkit-box-shadow: 0 8px 30px -1px black;
  -moz-box-shadow: 0 8px 30px -1px black;
  box-shadow: 0 8px 30px -1px black;
}

#d {
  position: absolute;
  width: 73%;
  margin-top: 4.5%;
  margin-left: 16%;
}

#bar {
  position: absolute;
  width: 47%;
  margin-top: 7.5%;
  margin-left: 25%;

}

#p {
  position: absolute;
  width: 55%;
  margin-top: -18%;
  margin-left: 22%;
}

#boxes {
  padding-top: 5%;
  width: 80%;
  margin: 0 auto;
  margin-right: 8.1%;

}

.box {
  width: 20%;
  margin-left: 8.5%;}

#followMe {
  padding-top: 4%;
  width: 40%;
  margin: 0 auto;
  /*text-align: center;*/
}

#f {
  width: 93%;
}

#dots {
  position: absolute;
  margin-top: .35%;
  margin-left: -15.5%;
  width: 70%;
}

.smBox {
  width: 80%;
  margin: 0 auto;   
}

.sm {
  margin: 5%;
  margin-left: 9%;
  width: 5%;
}

.follow {
  font-family: 'PT Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  margin-top: -10px;
  margin-left: 3%;
  width: 93%;
  color: white;
}


/* NAV-BAR*/

@font-face {
  font-family: 'MyWebFont';
  src: url('fonts/chalk_line_outline') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('fonts/chalk_line_outline.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.nav_header {
  font-family: 'chalk_line_outline';
  color: white;
}

.bb_nav {
  width: 100%;
  height: 10em;/*
  -webkit-box-shadow: 0 4px 2px -2px black;
  -moz-box-shadow: 0 4px 2px -2px black;
  box-shadow: 0 4px 2px -2px black;*/
}

#dnav {
  width: 800px;
  margin: 0 auto;
  margin-top: -190px;
}

.nav_links {
  width: 458px;
  margin: 0 auto;
  margin-top: -40px;
}

.nav_link {
  width: 150px;
}

/*SOCIAL LINKS*/

#social {
  width: 220px;
  background: white;
  text-align: center;
  border-radius: 0 0 10px 10px;
  margin-top: 11px;
  margin-left: 76%;
}

.social_links_email {
  width: 13%;
  padding: 2px;
  margin-bottom: 1.5%;
}

.social_links_linkedin {
  width: 13%;
  padding: 2px;
  margin-top: 1%;
}

.social_links_github {
  width: 13%;
  padding: 2px;
  margin-bottom: .7%;
}

.social_links_facebook {
  width: 13%;
  padding: 2px;
  margin-top: 1%;
}


.social_links_twitter {
  width: 13%;
  height: 13%;
  padding: 2px;
  height: 5%;
}

#followMe-nav {
  padding-top: 4%;
  width: 40%;
  margin: 0 auto;
  /*text-align: center;*/
}

#dots-nav {
  position: absolute;
  margin-top: .35%;
  margin-left: -15.5%;
  width: 70%;
}

.follow-nav {
  font-family: 'PT Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  margin-top: -10px;
  margin-left: 3%;
  width: 93%;
  color: white;
}


/*BLOG*/

.blog-container {
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 200px;
  font-size: 18px;
  color: #63605D;
  line-height: 25px;
}

.container_work {
  background-color: #AD997E;
}

#header-blog {
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
}

.p_blog_padding {
  padding-bottom: 10px;
}

.blog_article_container {
  margin: 0 auto;
  margin-top: 130px;
  padding: 10px 0 10px 0;
  border-top: 1px solid #63605D;
  border-bottom: 1px solid #63605D;
}

.FBSVG {
  width: 3em;
}

.fa-3x {
  font-size: 35px;
  padding: .15em .1em .15em .1em;
  color: #5b5d5d;
}

.fa-3x:hover {
  transition: color 0.5s ease;
  color: #8d8488;
}

.wrapper {
    margin: 0 auto;
    max-width: 500px;
    padding: 10% 0 10% 0;
}
 
#contact_form { 
  color: #e5e5e5;
  text-shadow: 0 1px 0 #F7F7F7;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #63605D;
  padding: 25px;   
}
 
 
#ff label { 
  cursor: pointer;
  margin: 4px 0;
  color: #e5e5e5;
  display: block;
  font-weight: 800;
     
}
 
input { 
  display: block;
  width: 90%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #e5e5e5;
  color: #000;
  border: 1px solid #5f5f5f;
  padding: 10px;
  margin-bottom: 25px;
}
 
.sendButton {
    cursor: pointer;
    color: #F7F7F7;
    background-color: #e5e5e5;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 1px;
    border: 1px solid #e5e5e5;
    color: #63605D;
    font-family: Arial;
    font-size: 16px;
    width:  25%;
    font-weight: bold;
    /*text-shadow: 1px 1px 0px #cc9f52;*/
    margin: 0 auto;
  transition: color 0.5s ease;
}
.sendButton:hover {
  color: #8d8488;

}

.email_link {
  text-decoration: none;
  color: #dadae3;
}

.email_link:hover {
  text-decoration: none;
  color: #a69eb0;
}
.work_container {
  transition: color 0.5s ease;
  -webkit-transition: color .5s ease;
     -moz-transition: color .5s ease;
      -ms-transition: color .5s ease;
       -o-transition: color .5s ease;
          transition: color .5s ease;
  float: left;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}

.work_container:hover {
  color: blue;
}

.work_container2 {
  transition: color 0.5s ease;
  -webkit-transition: color .5s ease;
     -moz-transition: color .5s ease;
      -ms-transition: color .5s ease;
       -o-transition: color .5s ease;
          transition: color .5s ease;
  float: left;
  text-align: center;
  font-weight: bold;
}

.fa-graduation-cap {
  font-size: 12em;
}


.wdi {
   font-size: 3em;
}



/* iPads (portrait and landscape) ----------- */

@media(max-width: 1200px) {
  #wrapper {
    width: 960px;
  }

}

@media(max-width: 980px) {
  #wrapper {
    width: 768px;
  }

  #dnav {
    width: 700px;
    margin: 0 auto;
    margin-top: -185px;
  }

  #social {
    width: 225px;
    background: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    margin-top: 26px;
  }

  .blog_article_container {
    margin-top: 90px;
  }
}

@media(max-width: 768px) {
  #wrapper {
    width: 750px;
    padding: 20px;
    box-sizing: border-box;
  }

  /*SPLASH PAGE*/

  #followMe {
    display: none;
  }

  #boxes {
    padding-top: 50px;
    width: 500px;
    margin: 0 auto;
  }

  .box {
    width: 135px;
    padding: 0 10px 0 10px;
    margin-left: 0; 
  }

  .smBox {
    width: 366px;
    margin: 0 auto;
  }

  .sm {
    margin: 0; 
    margin-left: 0; 
    width: 40px;
    padding: 20px 15px 20px 15px;
  }
  /*BLOG PAGE*/


  .bb_nav {
    height: 8em;
  }

  #dnav {
    width: 450px;
    margin: 0 auto;
    margin-top: -140px;
  }

  .nav_links {
    width: 308px;
    margin: 0 auto;
    margin-top: -19px;
  }

  .nav_link {
    width: 100px;
  }

  .blog-container {
    font-size: 16px;
  }

  .header-blog {
    font-size: 25px;
  }
@media(max-width: 767px) {
  #wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
}

@media(max-width: 480px) {
  #wrapper {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
  }

  #dnav {
    width: 440px;
    margin: 0 auto;
    margin-top: -135px;
  }

  #social {
    width: 200px;
    margin: 0 auto;
    margin-top: 21px;
  }

  .fa-3x {
  font-size: 30px;
  padding: .15em .1em .15em .1em;
  color: #5b5d5d;
  }
}