body {
  background-image: url('../images/BGRepeatable.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*img {
  max-width: 100%;
}*/

@font-face {
  font-family: drawing_guides;
  src: url('drawing_guides.tff');
}

p.custom_font{
  font-family: drawing_guides; /* no .ttf */
}

a {
  display: inline;
  height: 300px;
}
#bb {
  width: 100%;
  /* height: 494px; */
  margin-top: 3%;
  -webkit-box-shadow: 0 8px 30px -1px black;
  -moz-box-shadow: 0 8px 30px -1px black;
  box-shadow: 0 8px 30px -1px black;
}

#d {
  position: absolute;
  width: 58%;
  margin-top: 7.5%;
  margin-left: 20%;
}

#bar {
  position: absolute;
  width: 47%;
  margin-top: 7.5%;
  margin-left: 25%;

}

#p {
  position: absolute;
  width: 55%;
  margin-top: -18%;
  margin-left: 22%;
}

#boxes {
  padding-top: 5%;
  width: 80%;
  margin: 0 auto;
  margin-right: 8.1%;

}

.box {
  width: 20%;
  margin-left: 8.5%;}

#followMe {
  padding-top: 4%;
  width: 40%;
  margin: 0 auto;
  /*text-align: center;*/
}

#f {
  width: 93%;
}

#dots {
  position: absolute;
  margin-top: .35%;
  margin-left: -15.5%;
  width: 70%;
}

.smBox {
  width: 80%;
  margin: 0 auto;   
}

.sm {
  margin: 5%;
  margin-left: 9%;
  width: 5%;
}

.follow {
  font-family: 'PT Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  margin-top: -10px;
  margin-left: 3%;
  width: 93%;
  color: white;
}


/* NAV-BAR*/

@font-face {
  font-family: 'MyWebFont';
  src: url('fonts/chalk_line_outline') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('fonts/chalk_line_outline.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.nav_header {
  font-family: 'chalk_line_outline';
  color: white;
}

.bb_nav {
  width: 100%;
  height: 10em;/*
  -webkit-box-shadow: 0 4px 2px -2px black;
  -moz-box-shadow: 0 4px 2px -2px black;
  box-shadow: 0 4px 2px -2px black;*/
}

#dnav {
  position: absolute;
  width: 58%;
  margin-top: -14%;
  margin-left: 21%;
}

.nav_links {
  width: 32%;
  margin: 0 auto;
  margin-top: -5%;
  padding-left: 35%;
  position: absolute;
}

.nav_link {
  width: 29%;
}

/*SOCIAL LINKS*/

#social {
  width: 17%;
  background: white;
  text-align: center;
  border-radius: 0 0 10px 10px;
  margin-top: -0.3%;
  margin-left: 76%;
}

.social_links_email {
  width: 13%;
  padding: 2px;
  margin-bottom: 1.5%;
}

.social_links_linkedin {
  width: 13%;
  padding: 2px;
  margin-top: 1%;
}

.social_links_github {
  width: 13%;
  padding: 2px;
  margin-bottom: .7%;
}

.social_links_facebook {
  width: 13%;
  padding: 2px;
  margin-top: 1%;
}


.social_links_twitter {
  width: 13%;
  height: 13%;
  padding: 2px;
  height: 5%;
}

#followMe-nav {
  padding-top: 4%;
  width: 40%;
  margin: 0 auto;
  /*text-align: center;*/
}

#dots-nav {
  position: absolute;
  margin-top: .35%;
  margin-left: -15.5%;
  width: 70%;
}

.follow-nav {
  font-family: 'PT Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  margin-top: -10px;
  margin-left: 3%;
  width: 93%;
  color: white;
}


#chalk-nav {
  /*width: 35%;
  margin: 0 auto;
*/}

.blog-container {
  margin-left: 20%;
  margin-right: 20%;
  height: 800px;
  
  font-size: 16px;
  color: #63605D;
  
  line-height: 25px;
  /*background-color: #3A3B3F;*/
}

.container_work {
  background-color: #AD997E;
}

#header-blog {
  font-size: 22px;
  text-align: center;
  padding-bottom: 3%;
}

.p_blog_padding {
  padding-bottom: 1%;
}
.blog_article_container {
  width: 70%;
  margin: 0 auto;
  margin-top: 14%;
  padding: 1% 0 1% 0;
  border-top: 1px solid #63605D;
  border-bottom: 1px solid #63605D;
}

.FBSVG {
  width: 3em;
}

.fa-3x {
  font-size: 2em;
  padding: .15em .1em .15em .1em;
  color: #5b5d5d;
}

.fa-3x:hover {
  transition: color 0.5s ease;
  color: #8d8488;
}









/*! fancyBox v2.0.6 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-tmp iframe, .fancybox-tmp object {
  vertical-align: top;
  padding: 0;
  margin: 0;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  padding: 0;
  margin: 0;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  padding: 0;
  margin: 0;
  position: relative;
  outline: none;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 10px;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url('fancybox_sprite.png');
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8020;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  background: transparent url('blank.gif'); /* helps IE */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 20px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 20px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  padding: 0;
  overflow: visible;
  visibility: hidden;
}

/* Overlay helper */

#fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: #000;
}

#fancybox-overlay.overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* Title helper */

.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8030;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  margin-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, .8);
}





.wrapper { 
  font-size: 40.5%; 
  height: 90%; 
}

/*body { 
  background: #fff; 
  font-family: "Calibri", 
  Arial, sans-serif; 
}*/

/*img { border: 0; }*/

.modalbox { 
  color: #3a51b2; 
  text-decoration: none; 
}

.modalbox:hover { 
  text-decoration: underline; 
}

#modal-h2 { 
  font-size: 1.8em; 
  line-height: 1.9em; 
  margin-bottom: 15px;  
}

.modal_p { 
  color: #656565; 
  font-size: 1.2em; 
  margin-bottom: 10px; 
}

#wrapper { 
  width: 640px; 
  margin: 0 auto; 
  padding: 30px 45px;
  padding-bottom: 100%;
}

#inline { 
  display: none; 
  width: 600px; 
}

label { 
  margin-right: 12px; 
  margin-bottom: 9px; 
  font-family: Georgia, serif; 
  color: #646464; 
  font-size: 1.2em; 
}

.txt { 
display: inline-block; 
color: #676767;
width: 420px; 
font-family: Arial, Tahoma, sans-serif; 
margin-bottom: 10px; 
border: 1px dotted #ccc; 
padding: 5px 9px;
font-size: 1.2em;
line-height: 1.4em;
}

.txtarea { 
display: block; 
resize: none;
color: #676767;
font-family: Arial, Tahoma, sans-serif; 
margin-bottom: 10px; 
width: 500px; 
height: 150px;
border: 1px dotted #ccc;
padding: 5px 9px; 
font-size: 1.2em;
line-height: 1.4em;
}

.txt:focus, .txtarea:focus { border-style: solid; border-color: #bababa; color: #444; }

input.error, textarea.error { border-color: #973d3d; border-style: solid; background: #f0bebe; color: #a35959; }
input.error:focus, textarea.error:focus { border-color: #973d3d; color: #a35959; }

#send { 
color: #dee5f0;
display: block;
cursor: pointer;
padding: 5px 11px;
font-size: 1.2em;
border: solid 1px #224983;
border-radius: 5px;
background: #1e4c99; 
background: -webkit-gradient(linear, left top, left bottom, from(#2f52b7), to(#0e3a7d)); 
background: -moz-linear-gradient(top, #2f52b7, #0e3a7d); 
background: -webkit-linear-gradient(top, #2f52b7, #0e3a7d);
background: -o-linear-gradient(top, #2f52b7, #0e3a7d);
background: -ms-linear-gradient(top, #2f52b7, #0e3a7d);
background: linear-gradient(top, #2f52b7, #0e3a7d);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f52b7', endColorstr='#0e3a7d'); 
}
#send:hover {
background: #183d80; 
background: -webkit-gradient(linear, left top, left bottom, from(#284f9d), to(#0c2b6b)); 
background: -moz-linear-gradient(top,  #284f9d, #0c2b6b); 
background: -webkit-linear-gradient(top, #284f9d, #0c2b6b);
background: -o-linear-gradient(top, #284f9d, #0c2b6b);
background: -ms-linear-gradient(top, #284f9d, #0c2b6b);
background: linear-gradient(top, #284f9d, #0c2b6b);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284f9d', endColorstr='#0c2b6b');
}
#send:active {
color: #8c9dc0; 
background: -webkit-gradient(linear, left top, left bottom, from(#0e387d), to(#2f55b7)); 
background: -moz-linear-gradient(top,  #0e387d,  #2f55b7);
background: -webkit-linear-gradient(top, #0e387d, #2f55b7);
background: -o-linear-gradient(top, #0e387d, #2f55b7);
background: -ms-linear-gradient(top, #0e387d, #2f55b7);
background: linear-gradient(top, #0e387d, #2f55b7);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e387d', endColorstr='#2f55b7');
}






/*.wrapper {
    margin: 0 auto;
    max-width: 500px;
    padding: 10% 0 10% 0;
}
 
#contact_form { 
  color: #e5e5e5;
  text-shadow: 0 1px 0 #F7F7F7;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #63605D;
  padding: 25px;   
}
 
 
#ff label { 
  cursor: pointer;
  margin: 4px 0;
  color: #e5e5e5;
  display: block;
  font-weight: 800;
     
}
 
input { 
  display: block;
  width: 90%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #e5e5e5;
  color: #000;
  border: 1px solid #5f5f5f;
  padding: 10px;
  margin-bottom: 25px;
}
 
.sendButton {
    cursor: pointer;
    color: #F7F7F7;
    background-color: #e5e5e5;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 1px;
    border: 1px solid #e5e5e5;
    color: #63605D;
    font-family: Arial;
    font-size: 16px;
    width:  25%;
    font-weight: bold;
    /*text-shadow: 1px 1px 0px #cc9f52;*/
/*    margin: 0 auto;
  transition: color 0.5s ease;
}
.sendButton:hover {
  color: #8d8488;

}*/



